{% extends "base.html" %}

{% block title %} {{super() }} | Style?{% endblock %}

{% block page_content %}
<div class="col-md-9">
    <div id="map-container">
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key={{ GOOGLE_MAPS_KEY }}&libraries=drawing"></script>
        <script src="{{ url_for('static', filename='js/google_maps_drawer.js') }}"> </script>
    </div>
</div>
<div id="tabs" class="col-md-3">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#regions" aria-controls="regions" role="tab" data-toggle="tab">Regions</a></li>
        <li role="presentation"><a href="#computations" aria-controls="computations" role="tab" data-toggle="tab">Computations</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="regions">
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="computations">
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
            <p> Dummy Data </p>
        </div>
    </div>
</div>
{% endblock %}
