{% extends "base.html" %}

{% block title %} {{super() }} | Style?{% endblock %}

{% block page_content %}
<div class="col-md-9">
    <div id="map-container">
        <div id="map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key={{ GOOGLE_MAPS_KEY }}&libraries=drawing"></script>
        <script src="{{ url_for('static', filename='js/google_maps_drawer.js') }}"> </script>
    </div>
</div>
<div class="col-md-3">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-comp">Computations</a></li>
            <li><a href="#tabs-regions">Regions</a></li>
        </ul>
        <div id="tabs-comp">
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
            <p> Stuff for doing stuff here </p>
        </div>
        <div id="tabs-regions">
            <p>Show list of regions</p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript">
$.noConflict();
$(document).ready(function(){
    $(function() {
        $("#tabs").tabs();
    });
});
</script>
{% endblock %}
