html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#computations, #regions {
    padding-top: 2%;
}

#tabs {
    border-left: 0.1px solid;
    padding-left: 0.1%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#region-list {
    padding-top: 5%;
}

a, a:hover {
    color: inherit;
}

.col-md-9, .col-md-3 {
    height: 100%;
    padding: 0;
    margin: 0;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
}

.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

.custom-menu li:hover {
    background-color: #DEF;
}

@media (max-width: 920px) {
  .mobile-device {
    width: 100%;
    padding: 2px;
  }
}
