html, body { 
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-container {
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#computations, #regions {
    padding-top: 2%;
}

#tabs {
    border-left: 0.1px solid;
    padding-left: 0.1%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#region-list {
    padding-top: 5%;
}

a, a:hover {
    color: inherit;
}

.col-md-9, .col-md-3 {
    height: 100%;
    padding: 0;
    margin: 0;
}
