{% extends "bootstrap/base.html" %}

{% block title %}Spatio-Geom{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')  }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico')  }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
	{% block page_content %}
	{% endblock %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
